<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://nhk-db.cfkajnkfgjxp.us-east-1.rds.amazonaws.com:3306/NHK?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
        <!-- <property name="connection.url">jdbc:mysql://localhost:3306/NHK_NEWS?useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf-8</property> -->
        <!-- <property name="connection.username">root</property> -->
        <property name="connection.username">hptg1994</property>
        <property name="connection.password">Hptg19940215</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">5</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

    </session-factory>

</hibernate-configuration>
