<!--
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        &lt;!&ndash; JDBC Database connection settings &ndash;&gt;
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/NHK_News?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">Hptg19940215</property>

        &lt;!&ndash; JDBC connection pool settings ... using built-in test pool &ndash;&gt;
        <property name="connection.pool_size">10</property>

        &lt;!&ndash; Select our SQL dialect &ndash;&gt;
        <property name="dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>

        &lt;!&ndash; Echo the SQL to stdout &ndash;&gt;
        <property name="show_sql">true</property>

        &lt;!&ndash; Set the current session context &ndash;&gt;
        <property name="current_session_context_class">thread</property>

    </session-factory>

</hibernate-configuration>-->
